<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640250003809-t16eg1do0hv61thao1udvi8q0qavr9sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640250003809-t16eg1do0hv61thao1udvi8q0qavr9sa</string>
	<key>API_KEY</key>
	<string>AIzaSyAemaY--J_NYbKj-OXF75SdBRxaf5VtIok</string>
	<key>GCM_SENDER_ID</key>
	<string>640250003809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Victor.LoginDemoFirebase</string>
	<key>PROJECT_ID</key>
	<string>loginfirebase-77112</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebase-77112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640250003809:ios:4a384e677fb66df0bf0520</string>
</dict>
</plist>